<div class="well">

<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/banner-09-01.png" class="img-responsive" width="80%">
 
<h4>Technology-Driven Drug Discovery (Tech3D) Group</h4>
 
<h5>Our work brings together three cutting-edge technologies:</h5>

 <div class="row">
  <p><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/computation-gear-01.png" class="img-responsive" width="30%" style="float: left" /></p>
  <p><strong>Computational biology</strong> &#8212; using powerful algorithms to predict how well a drug will work before it is even made.</p>
</div>

<div class="row">
 <div class="col-sm-12">
  <p><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/molecularlibraries-gear-01.png" class="img-responsive" width="30%" style="float: left" /></p>
 <p><strong>Molecular libraries</strong> &#8212; allowing us to test billions of potential drug candidates at once.</p>
 </div>
</div>

<div class="row">
 <div class="col-sm-12">
 <p><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/nanotechnology-gear-01.png" class="img-responsive" width="30%" style="float: left" /></p>
 <p><strong>Nanotechnology</strong> &#8212; creating tiny reaction droplets that help us quickly see which drugs are effective.</p>
 </div>
</div/
 
<h5><a href="https://imb.uq.edu.au/research-groups/wang">Find out about our Team, Projects and more at our University of Queensland website</a></h5>

</div>
