<div class="well">

<h4><a href="https://imb.uq.edu.au/research-groups/wang">Find out more on our University of Queensland website</a></h4>
 
<h4>Group Leader</h4>

<p><img src="{{ site.url }}{{ site.baseurl }}/images/teampic/Conan_Wang_head.JPG" class="img-responsive" width="35%" /></p>

<p>Group Leader, Technology-driven drug discovery</p>
<a href="mailto:c.wang@imb.uq.edu.au">c.wang@imb.uq.edu.au</a><br />
<a href="https://about.uq.edu.au/experts/1542">UQ Experts Profile</a></p>


 <figure class="fifth">
<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/banner-09-01.png" style="width: 200px">
</figure>
  
</div>
